.list-characters{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;

    // @media all and (min-width: 768px){
    //     grid-template-columns: 1fr 1fr 1fr;
    // }

    @media all and (min-width: 1024px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}