.main-detail{
    background-image: url('../images/papiro.jpg');
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column-reverse;
}

.btn-back{
    background-image: url('../images/negro.jpg');
    background-size: contain;
    padding: 10px 15px;
    color: white;
    font-size: 15px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 15px;
    position: absolute;
    top:30px;
    right: 30px;

    &-img{
        width: 35px;
        margin-right: 10px
    }
}

.icon-status{
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
}

.detail{
    &-card{
        margin-top: 100px;
        margin-bottom: 20px;
        width: 425px;
        border-radius: 20px;
        padding: 20px;
        display: flex;
        gap: 20px;
        background-position: left;
        position: relative;

    }
    &-img {
        border-radius: 20px;
        width: 40%;
    }

    &-title{
        border-top: solid 2px white;
        border-bottom: solid 2px white;
        padding: 8px;
        margin-bottom: 5px;
        text-align: center;
        
    }
    
    &-text {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 16px;
        font-weight: 600;

        &-header{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &-badge{
        width: 200px;

        &-img{
            width: 100%;
        }
    }
}


.alternate-names{
    list-style: inside;
    display: flex;
    flex-direction: column;
}