.link-character{
    text-decoration: none;
    border: dashed 2px rgb(69, 69, 69);
    margin: 20px; 
    border-radius: 20px;  
}

.card{
    
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-img{
        width: 150px;
        height: 200px;
        background-size: cover;
        background-position: center;
        border-radius: 20px;
        margin: 10px;
    
        @media all and (min-width: 768px) {
            width: 200px;
            height: 250px;}

        @media all and (min-width: 1024px) {
            width: 250px;
            height: 300px;
        }
    }

    &-name{
        font-weight: 600;
        margin: 5px;
        color: rgb(69, 69, 69);
        text-align: center;

        @media all and (min-width: 1024px) {
            font-size: 18px;
        }

        @media all and (min-width: 1024px) {
            font-size: 20px;
        }
    }
    
    &-specie{
        font-weight: 400;
        margin: 5px;
        color: rgb(69, 69, 69);

        @media all and (min-width: 1024px) {
            font-size: 18px;
        }
        
        @media all and (min-width: 1024px) {
            font-size: 20px;
        }
    }
}