.main-detail{
    // width: 100vw;
    // height: 100%;
    background-image: url('../images/papiro.jpg');
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column-reverse;
}

.btn-back{
    background-image: url('../images/negro.jpg');
    background-size: contain;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
    position: absolute;
    top:30px;
    right: 30px;


}

.detail{
    &-card{
        margin-top: 90px;
        width: 425px;
        border-radius: 20px;
        padding: 20px;
        display: flex;
        gap: 30px;
        background-position: left;
    }
    &-img {
        border-radius: 20px;
        width: 40%;
    }

    &-title{
        border-top: solid 2px white;
        border-bottom: solid 2px white;
        padding: 8px;
        margin-bottom: 20px;
        text-align: center;
    }
    
    &-text {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 16px;
        font-weight: 600;
    }

    &-badge{
        width: 200px;

        &-img{
            width: 100%;
        }
    }
}


.alternate-names{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}