.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/negro.jpg');
    background-position: bottom;
    background-size: contain;
    position: relative;
    border-bottom: 1px solid grey;

    &-img{
        width: 100%;
        
        &-container{
           width: 400px;
           
        }
    }
}

.hogwarts{
    position: absolute;
    bottom: 0;
    left: 10px;
}