.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/papiro.jpg');
    background-position: bottom;
    background-size: cover;
    border-bottom: 2px solid black;

    &-img{
        width: 100%;
        
        &-container{
           width: 400px;
           
        }
    }
}